<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="
	background:#e8f1ff;
	font-family:Arial;
">
<div style="
    width:650px;
    margin:auto;
    background:white;
    border-radius:12px;
    overflow:hidden;
">
    <div style="
    background:#3949ab;
    color:white;
    padding:40px;
    text-align:center;
">
        <h1>Resultado de Simulacro Saber11 </h1>
    </div>
    <div style="padding:50px;">
        <h2>Hola {{name}} </h2>

        <p>
            Tu simulacro fue calificado.
        </p>

        <div style="
        background:#f5f7ff;
        padding:25px;
        border-left:5px solid #3949ab;
        margin-top:30px;
">

        <h1 style="
        color:#3949ab;
        margin:0;

">
            {{score}} puntos

        </h1> </div> <p style="margin-top:30px;">
        Adjunto encontrarás el reporte completo en PDF.
    </p>

    </div>

</div>

</body>
</html>
